<div [formGroup]='poiForm'>
  <div class="form-group">
    <label for="poster_email">Email</label>
    <input
      type="email"
      [class.is-invalid] = "poiForm.get('poster_email').invalid && poiForm.get('poster_email').touched"
      class="form-control"
      id="poster_email"
      required
      formControlName="poster_email"
      name="poster_email"
    />
    <small *ngIf="poiForm.get('poster_email').errors?.required" class="text-danger">Vous devez entrer votre email</small>
    <small *ngIf="poiForm.get('poster_email').errors?.email" class="text-danger">Veuillez entrer un email valide</small>
  </div>


  <div class="form-group">
    <label for="name">Nom du point d'intérêt</label>
    <input
      type="text"
      [class.is-invalid] = "poiForm.get('name').invalid && poiForm.get('name').touched"
      class="form-control"
      id="name"
      required
      formControlName="name"
      name="name"
    />
    <small *ngIf="poiForm.get('name').errors?.required" class="text-danger">Vous devez entrer un nom pour le point d'intérêt</small>
  </div>


  <div class="form-group">
    <label for="address">Adresse</label>
    <input
      type="text"
      class="form-control"
      id="address"
      name="address"
      formControlName="address"
      #addressSearch
    />
  </div>


  <div class="form-group">
    <input
      type="text"
      class="form-control"
      id="full_address"
      formControlName="full_address"
      name="full_address"
      style="display: none;"
    />
  </div>


  <div class="form-group">
    <input
      type="text"
      class="form-control"
      id="longitude"
      formControlName="longitude"
      name="longitude"
      style="display: none;"
    />
  </div>


  <div class="form-group">
    <input
      type="text"
      class="form-control"
      id="latitude"
      formControlName="latitude"
      name="latitude"
      style="display: none;"
    />
  </div>


  <div class="form-group">
    <label for="type">Type</label>
    <select
      name="type"
      class="form-control"
      id="type"
      formControlName="type"
      name="type"
    >
      <option value="">--Choisissez un type de point d'intérêt--</option>
      <option value="Distribution">Distribution</option>
      <option value="Douche">Douche</option>
      <option value="WiFi">WiFi</option>
    </select>
  </div>
</div>
